/* roboto-100(Thin) - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v27-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v27-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/forum-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/forum-v11-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/forum-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/forum-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/forum-v11-latin-regular.svg#Forum")
      format("svg"); /* Legacy iOS */
}

:root {
  --bg-dark: #030303; /*main colors*/
  --dark-red: #710707;
  --font-gold: #9d8665;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}




.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*paddings inner box-start*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/*paddings inner box-end*/

/*header_style-end*/
.header {
  background-color: var(--bg-dark);
}

.header_wrapper {
  /* max-width: 1440px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 74px;
}

.header_logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
/*logo_hover-effect*/
.header_logo:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none; /*decoration on active links*/
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

/*heder_link-effect*/
.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.5;
  background-size: 100% 2px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 76px;
}

.header_item:last-child {
  margin-right: 0;
}

/*header_style-end*/

/*intro_style-start(Welcome and button)*/
.welcome {
  height: 75100vh;
  background: url(../img/back_3.jpg);
  background-size: cover;
  background-position: calc(100%-20px);
  padding-top: 314px;
  margin-bottom: 75px;
}

.welcome_title {
  max-width: 598px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 26px;
}

.welcome_subtitle {
  max-width: 445px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 76px;
}
.button_discover {
  background-color: var(--dark-red);
  width: 360px;
  height: 75px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  border: none;
  padding: 25px 20px 20px 20px;
  /* margin: 0em; */
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-family: Roboto; /**/
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}

.button_discover:hover,
.button_discover:focus,
.button_discover:active {
  opacity: 0.5;
  background-size: 100% 2px;
}
/*intro_style-end*/

/*visiting_style-start*/
.visiting_wrap {
  width: 1440px;
  height: 1115px;
  margin: 0 auto;
  /* background-color: skyblue; */
  padding-bottom: 1190px;
}

.visiting_title {
  position: relative;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
  padding-bottom: 28px;
  /* margin-bottom: 75px; */
}

.visiting_title::after {
  display: block;
  content: "";
  width: 1440px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-red);
}

.visiting_card_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.v-card {
  max-width: 440px;
  max-height: 422px;
  padding-top: 75px;
  padding-right: 60px;
  padding-bottom: 410px; /*hmmmmm*/
}

.h3_visiting {
  position: relative;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  padding-bottom: 9px;
}

.h3_visiting::after {
  display: block;
  content: "";
  width: 300px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-red);
}

.around_vt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 10px;
  margin-top: 10px;
}

.google_street_pan {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.v1_logo-link:hover {
  opacity: 0.5;
  background-size: 100% 2px;
}
/*visiting_style-end*/

/*explore_style-start*/
.explore_main_wrap {
  margin: 0 auto;
  width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 865px;
  margin: 0 auto;
  padding-top: 78px;
  background-color: #030303;
}

.explore_wrap {
  /* margin: 0 auto; */
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.explore_wrap_title {
  width: 660px;
  margin-right: 60px;
}

.explore_title {
  position: relative;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 25px; /*от линии подчерк до текса ниже*/
  margin-bottom: 78px;
}

.explore_title::after {
  display: block;
  content: "";
  width: 660px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  background-color: #ffffff;
}

.explorer_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  padding-bottom: 25px;
  text-align: left;
}

.explore_pic {
  margin-top: 15px;
}
/*explore_style-end*/

/*video_start*/
.video_wrap {
  margin: 0 auto;
  width: 1440px;
  height: 844px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: start; */
  background-color: white;
}

/* .video {
  width: 100%;
} */
.video_player {
  width: 1440px;
  height: 714px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.video_item {
  /* width: 1440px;
  height: 714px; */
  padding-top: 56, 25%;
  margin-top: 90px;
}

.video_title_wrap {
  max-width: 1440px;
  margin: 0 auto;
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.video_title {
  padding-top: 40px;
  margin-right: 115px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.video_title_text {
  padding-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}
/*video_end*/

/*Tickets_start*/

.tickets_main_wrap {
  margin: 0 auto;
  width: 1920px;
  height: 893px;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #030303;
}

.tickets_wrap {
  width: 1440px;
  height: 743px;
  margin-top: 75px;
}

.tickets_title {
  position: relative;
  height: 118px;
  width: 1440px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 75px;
}

.tickets_title::after {
  display: block;
  content: "";
  width: 1440px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  background-color: #ffffff;
}

.fl_pic_rb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*Radio buttons*/

.tickets_r_b {
  margin-left: 15px;
}
.r_b_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}

.r_b_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #ffffff;
}
/* Tickets_end */

/* Contacts_start */
.contacts {
  margin: 0 auto;
  width: 1440px;
  height: 813px;
  margin-top: 75px;
}

.contacts_title {
  position: relative;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  padding-bottom: 25px;
  /* margin-bottom: 75px; */
}

.contacts_title::after {
  display: block;
  content: "";
  width: 1440px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-red);
}

.text_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding-top: 85px;
  padding-bottom: 36px;
}

.cont_addr {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-top: 20px;
}

.con_fl_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont_pic{
  margin-top: 75px;
}
/* Contacts_end */


/* footer_start */

.footer{
  background-color: #030303;
  margin: 0 auto;
  max-width: 1920px;
  max-height: 300px;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-top: 75px;
  padding-left: 240px;
  padding-right: 240px;
  /* display: flex;
  align-content: center; */

}

.footer_item{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.footer_nav{
  display: flex;
  flex-wrap: wrap;
  /* width: 50%; */
}
/* footer_end */
