/* roboto-100(Thin) - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v27-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v27-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/forum-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/forum-v11-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/forum-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/forum-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/forum-v11-latin-regular.svg#Forum")
      format("svg"); /* Legacy iOS */
}

:root {
  --bg-dark: #030303; /*main colors*/
  --dark-red: #710707;
  --font-gold: #9d8665;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

/*--Начало стилей заголовка навигации--*/
.sec_header_wrapper {
  display: flex;
  width: 100%;
  height: 150px;
  margin-top: -10px;
  background-color: var(--bg-dark);
}

.logo {
  display: flex;
  text-decoration: none;
  color: #fff;
  transition: filter 0.4s;
}

.logo:hover {
  cursor: pointer;
  filter: invert(56%) sepia(23%) saturate(474%) hue-rotate(356deg)
    brightness(92%) contrast(91%);
}

.logo__pic {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 49px;
  height: 26px;
  background-image: url(../img/sec_header_Logo.svg);
  box-shadow: none;
}

.logo__txt {
  margin-left: 25px;
  margin-top: 2px;
  font-family: "Forum";
  font-size: 30px;
  letter-spacing: 0.13em;
}

.sec_navbar {
  display: flex;
  width: 1440px;
  height: 33px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 59px; /*верх в макете 59, низ 8*/
  /* background-color: var(--dark-red); */
}

.header_list {
  display: flex;
  max-width: 775px;
  flex-direction: row;
  justify-content: space-between;
}

.header_link {
  padding-right: 55px;
  text-decoration: none;
  transition: filter 0.5s;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 2px;
  color: #ffffff;
}

/*эффекты для кнопок*/
.header_link:hover,
.header_link:focus,
.header_link:active {
  cursor: pointer;
  filter: invert(56%) sepia(23%) saturate(474%) hue-rotate(356deg)
    brightness(92%) contrast(91%);
}

.contacts {
  padding-right: 0px;
}

.logo {
  display: flex;
  text-decoration: none;
  color: #fff;
  transition: filter 0.5s;
}

/*эффекты для логотипа*/
.logo:hover,
.logo:focus,
.logo:active {
  cursor: pointer;
  filter: invert(56%) sepia(23%) saturate(474%) hue-rotate(356deg)
    brightness(92%) contrast(91%);
}
/*--Конец стилей заголовка навигации--*/

/*--Начало стилей секции Welcome--*/
.sec_welcome_wrapper {
  display: flex;
  width: 100%;
  height: 810px;
  /* margin-top: -10px; */
  background-color: var(--bg-dark);
}

.welcome {
  display: flex;
  justify-content: space-between;
  height: 810px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-dark);
  background-image: url(../img/sec_welcome_monalisa.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 220px) calc(100% - 60px);
}

.welcome_title {
  display: block;
  width: 598px;
  height: 388px;
  margin-top: 150px;
  /* border: 5px solid yellow; */
}

.welcome_h1 {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.62;
}

.middle_welcome {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 0.62;
}

.button_welcome {
  display: block;
  width: 360px;
  height: 75px;
  margin-top: 75px;
  background: #710707;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

.button_welcome_text {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
  padding-top: 25px;
  color: #ffffff;
  text-decoration: none;
}

.button_welcome:hover,
.button_welcome:focus,
.button_welcome:active {
  cursor: pointer;
  background-color: var(--font-gold);
}
/*--Конец стилей секции Welcome--*/

/*--Начало стилей секции Virtual Tour--*/
.sec_virtual_tour_wrapper {
  display: flex;
  width: 100%;
  height: 1266px;
  /* margin-bottom: 75px; */
  background-color: white;
}

.virtual_tour {
  display: flex;
  height: 1116px;
  width: 1440px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  /* border: 5px solid yellow; */
  /* background: lightcoral; */
}

.underline_text {
  width: 544px;
  height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  /* background-color: turquoise; */
}

.line_v_tour {
  margin-top: 25px;
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
  border-radius: 0px;
}

.wrapper_3x2_v_tour {
  display: flex;
  height: 923px;
  flex-wrap: wrap;
  gap: 75px 60px; /* расстояния между колонками*/
  justify-content: space-between;
}

.v_card {
  max-width: 440px;
  max-height: 424px;
  /* padding-top: 75px; */
  /* padding-right: 60px; */
  /* padding-bottom: 75px; */
  /* background-color: yellow; */
}

/* .v_card_middle {
  padding-left: 60px;
  padding-right: 60px;
  text-decoration: none;
}

.v_card_last_row {
 padding-top: 75px;
} */

.v1_logo_link {
  display: block;
  text-decoration: none;
}

.v1_logo_link:hover {
  cursor: pointer;
}

.h3_virt_tour {
  position: relative;
  font-family: "Forum";
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 5px;
  margin-top: 19px;
  margin-bottom: 20px;
}

/*линия под заголовком*/
.h3_virt_tour::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 140px;
  height: 2px;
  background-color: #710707;
  transition: right 0.5s;
}

.v1_logo_link:hover .h3_virt_tour::after {
  right: 0px;
}

.h3_virt_tour::hover {
  right: 0px;
}

h4_virt_tour {
  font-weight: 200;
  color: #000;
  margin-top: 0px;
  margin-bottom: 9px;
}
/*--Конец стилей секции Virtual Tour--*/

/*--Начало стилей секции Explore--*/
.sec_explore_wrapper {
  display: flex;
  width: 100%;
  height: 865px;
  background-color: #030303;
  /* padding-top: 75px;*/
  /*padding-bottom: 75px;*/
}

.sec_explore {
  display: flex;
  flex-direction: row;
  margin: 75px auto;
  width: 1440px;
  height: 715px;
  /* background-color: aqua; */
}

.sec_explore_txt {
  width: 660px;
  height: 715x;
  padding-right: 60px;
  /* background-color: rgb(92, 84, 74); */
}

.sec_explore_pic {
  width: 720px;
  height: 715x;
  margin-top: 15px;
  background-image: url(../img/sec_explore_pic.png);
  background-position: top right;
  background-repeat: no-repeat;
  /* background-color: blue; */
}

.sec_explore_title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.sec_explore_title_line {
  margin-top: 25px;
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
  border-radius: 0px;
  margin-bottom: 75px;
}

.sec_explorer_text {
  margin-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */
  color: #ffffff;
}
/*--Конец стилей секции Explore--*/

/*--Начало стилей секции Video--*/
.sec_video_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1396px;
  color: #ffffff;
  padding-top: 75px;
}
.sec_video {
  flex-direction: column;
  width: 1440px;
  height: 1246px;

  /* background-color: rgb(58, 94, 94); */
}

.sec_video_title {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  /* background-color: bisque; */
}

.h2_video_title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.p_video_title {
  max-width: 720px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */
  color: #000000;
  margin-top: 5px; /*надпись по центру title*/
}

.sec_video_video {
  margin-top: 75px;
  max-width: 100%; /*1440px*/
  height: 735px;
  /* background-color: blueviolet; */
}

.button_big_play {
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 220px;
  width: 220px;
  border: none;
  background-color: transparent;
  background-image: url(../img/sec_video/sec_video_video_playBut.svg);
}

/* .button_big_play,
.button_play,
.progress,
.button_volume,
.volume,
.button_fullscreen {
  transition: filter 0.5s;
} */

/* .button_big_play:hover,
.button_play:hover,
.progress:hover,
.button_volume:hover,
.volume:hover,
.button_fullscreen:hover {
  filter: invert(72%) sepia(9%) saturate(5%) hue-rotate(43deg) brightness(83%)
    contrast(89%);
} */

.video_img {
  display: flex;
  height: 650px;
  margin-top: 90px;
  background-image: url(../img/sec_video/sec_video_video.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

/*кнопки навигации видео плейера*/

.button_bar {
  height: 85px;
  background-color: #000;
  /* padding: 0 30px; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.button_play {
  margin-left: 30px;
  cursor: pointer;
  height: 30px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-image: url(../img/sec_video/sec_video_bar_play.svg);
}

.button_volume {
  margin-right: 50px;
  cursor: pointer;
  height: 30px;
  width: 38px;
  border: none;
  background-color: transparent;
  background-image: url(../img/sec_video/sec_video_bar_volume.svg);
}

.button_fullscreen {
  margin-right: 30px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  border: none;
  background-color: transparent;
  background-image: url(../img/sec_video/sec_video_bar_full_screen.svg);
}

.progress {
  margin-left: 50px;
  margin-right: 50px;
  background: linear-gradient(
    to right,
    var(--dark-red) 0%,
    var(--dark-red) 57%,
    #fff 57%,
    #fff 100%
  );
  height: 8px;
  width: 929px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.volume {
  margin-right: 50px;
  background: linear-gradient(
    to right,
    var(--dark-red) 0%,
    var(--dark-red) 57%,
    #fff 57%,
    #fff 100%
  );
  height: 8px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.sec_video_slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 306px;
  margin-top: 40px;

  /* background-color: cadetblue; */
}

.sec_video_slider_imgs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.sec_video_slider_pic {
  margin-top: 40px;
  text-align: center;
}
/*--Конец стилей секции Video--*/

/*--Начало стилей секции Art Gallery--*/
.sec_art_gal_wrapper {
  width: 100%;
  height: 2200px;
  background-color: black;
}

.sec_art_gal_picture-container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 2125px;
  overflow: hidden;
  margin: 0 auto; /*блок по центру врапера*/

  /* background-color: burlywood; */
}

.sec_art_gal_title {
  height: 165px;
  width: 1140px;
  margin-top: 75px;
  margin-bottom: 75px;

  /* background-color: cornflowerblue; */
}

.p_sec_art_gal_title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #ffffff;
}

.sec_art_gal_picture-inner-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;

  /* background-color: crimson; */
}
/*--Конец стилей секции Art Gallery--*/

/*--Начало стилей секции Bay Tickets--*/
.sec_buy_tic_wrapper {
  width: 100%;
  height: 893px;
  /* margin-top: -75px; */
  /* padding-top: 75px; */

  /* background-color: darkseagreen; */
}

.sec_buy_tic {
  width: 1440px;
  height: 743px;
  margin: 75px auto;

  /* background-color: dimgrey; */
}

.sec_buy_tic_underline_text {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.line_buy_tic {
  margin-top: 25px;
  width: 1440px;
  height: 3px;
  left: 0px;
  top: 115px;
  background: #710707;
  border-radius: 0px;
  margin-bottom: 75px;
}

.sec_buy_tic_tickets {
  width: 1440px;
  height: 550px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  /* background-color: gold; */
}

.sec_buy_tic_pict {
  margin-right: 60px;
}

.sec_buy_tic_buy {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background-color: green; */
}

.tickets_calc {
  display: flex;
  float: left;
}

.tickets_type {
  width: 270px;
  height: 211px;
  color: black;

  background-color: honeydew;
}

/* .tickets__type .amount__tittle {
  margin-left: -6px;
} */

.input:checked + span {
  color: rgb(33, 160, 61);
}

.check_type {
  margin-bottom: 25px;

  display: block;
  position: relative;
  /* padding-left: 35px; */
  /* margin-bottom: 25px; */
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  /* line-height: 26px; */
  /* identical to box height */

  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sec_buy_tic_amount {
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 443px;
  text-align: right;
  justify-content: right;

  /* background-color: blueviolet; */
}

.amount_tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  /* identical to box height */
  color: #000000;
}

.amount_basic {
  margin-top: -25px;
  margin-bottom: 10px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

.amount_senior {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

.button {
  /* margin-bottom: 25px; */
  height: 50px;
  width: 150px;

  border: 3px solid black;
  background-color: white;
  display: flex;

  /* margin-bottom: 38px; */
  /* margin-left: 15px; */
}

.button:hover {
  border: 3px solid #9d8665;
}

.number {
  background-color: white;
  color: black;
  all: unset;
  width: 100%;
  text-align: center;
  margin: auto;
  border: none;
  font-size: 22px;
}

.button_up {
  background-color: white;
  color: black;
  font-size: 32px;
  margin: auto 4px;
  border: none;
  transition: color 0.4s;
}

.button_up:hover {
  cursor: pointer;
  color: #9d8665;
}

.calc_total {
  list-style: none;
  display: flex;
  padding-top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 1.65px;

  color: #000000;
}

.calc_total p {
  font-weight: 700;
  font-size: 28px;
}

.button_buy {
  margin-top: 50px;
  list-style: none;
  padding: 13px 38px;
  border: none;
  border-radius: 2px;
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 24.61px;
  color: white;
  background-color: black;
  border-width: 0;
  transition: background-color 0.5s;
}

.button_buy:hover {
  cursor: pointer;
  background-color: #9d8665;
}

.amount__type {
  text-align: left;
  margin: 12px 0;
  padding-left: 26px;
}

.checkmark {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}

/*--Конец стилей секции Bay Tickets--*/

/*--Начало стилей секции Paral--*/
.sec_paral_wrapper {
  width: 100%;
  height: 400px;
  /* margin-top: -75px; */
  /* background-color: blueviolet; */

  background-image: url(../img/sec_paral_pic.jpg);

  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 75px;
}
/*--Конец стилей секции Paral--*/

/*--Начало стилей секции Contacts--*/
.sec_cont_wrapper {
  width: 100%;
  height: 966px;

  background-color: white;
}

.sec_container__contacts {
  margin: 0 auto;
  width: 1440px;
  height: 813px;

  /* background-color: cadetblue; */
}

.container__contacts {
  color: #000;
  padding-bottom: 75px;
}

.container__contacts h2 {
  color: #9d8665;
}

.contacts__inner {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  font-weight: 500;
  margin: 10px 0 0 0px;
}

.name__museum {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}

.contacts__data {
  padding-top: 16px;
}

.contacts__data p {
  font-weight: 300;
  font-size: 22px;
  line-height: 25.78px;
  text-decoration: none;
  color: #000;
}

.contacts__data a {
  font-size: 22px;
  text-decoration: none;
  color: #000;
}

.contacts__data a:hover {
  text-decoration: underline;
  color: #9d8665;
}

.google__map {
  max-height: 620px;
}

/*--Конец стилей секции Contacts--*/

/*--Начало стилей секции Footer--*/
.footer {
  height: 392px;
  margin-top: -75px;
  padding-top: 84px;
  background-color: #000;

}

.first_foot_wrapper {
  display: flex;
  width: 1440px;
  margin: 0 auto;

}

.logo_txt_foot {
  margin-top: 2px;
  margin-left: 25px;
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 31px;
/* identical to box height */

letter-spacing: 5px;
text-transform: uppercase;

color: #FFFFFF;
}

.nav__sub {
  display: flex;

  margin-left: 75px;
}

.nav__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  padding-left: 0px;
  margin-top: -8px;
  font-size: 22px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 2px;

}

.nav__sub li {
  margin-right: 86px;
}

.nav__sub li a {
  margin-left: 71px;
  text-decoration: none;
  color: #fff;
  transition: color .4s ;
}

.nav__sub li a:hover {
  color: #9d8665;
}

.social {
  display: flex;
  margin: 78px 0px 90px 534px
}

.social__item {
  height: 48px;
  width: 48px;
  border: solid 1px #666666;
  border-radius: 50%;
  margin-left: 22px;
  transition: filter .4s;
}

.social__item:hover {
  filter: invert(56%) sepia(23%) saturate(474%) hue-rotate(356deg) brightness(92%) contrast(91%);
}

.icon__youtube {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url(../img/sec_footer/sec_footer_youtube.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon__instagram {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url(../img/sec_footer/sec_footer_Instagram.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon__facebook {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url(../img/sec_footer/sec_footer_Facebook.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon__twitter {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url(../img/sec_footer/sec_footer_Twitter.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon__pinterest {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url(../img/sec_footer/sec_footer_Pinterest.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.sec_foot_line {
  width: 100%;
  border-bottom-width: 3px; /* Толщина линии внизу */
  border-bottom-style: solid; /* Стиль линии внизу */
  border-bottom-color: #666666;
}

.second_footer_wrapper {
  width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  justify-content: space-between;
}

.second_footer_txt {
  margin-top: 50px;
  margin-bottom: 52px;
  padding-right: 0px;
}

/*--Конец стилей секции Footer--*/
